@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
overflow: hidden;
font-family: "DynaPuff", serif;
}

$color1:#7BD3EA;
$color2:#A1EEBD;
$color3:#F6F7C4;
$color4:#F6D6D6;
$transitionTime:0.5s;

#logo-image{
    display: none;
}
#entry {
    position: relative;
    height: 100dvh;
    background-color: $color1;
    #close-game-button {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1;
      color: #674636;
      background: none;
      border: none;
      font-size: 2rem;
      transition: $transitionTime;
      &:hover {
        filter: brightness(1.5);
      }
    }
    #title {
      text-align: center;
      padding-block-start: 2dvh;
      padding-block-end: 10dvh;
      .letter {
        opacity: 0;
        transition-duration: 1s;
        color: #674636;
        font-size: 8rem;
        font-weight: 700;
      }
    }
    #copyright {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: $color2;
      text-align: center;
    }
  }
#setting{
    display: none;
    place-items: center;
    position: relative;
    height: 100dvh;
    background-color: #fff8e8;
    /* border-image-source: url('image/wood.jpg');
    border-image-width: 5px;
    border-image-repeat: stretch;
    border-image-slice: 5; */
    border: 5px solid #674636;
    #back-to-game{
      position: absolute;
      right: 20px;
      top: 20px;
      background: none;
      border: none;
      width: 2rem;
      height: 2rem;
      transition: $transitionTime;
      img{
        width: 100%;
      }
      &:hover {
        filter: brightness(1.5);
      }
    }
    #options{
      display: flex;
      flex-direction: column;
      align-items: center;
     /*  border-image-source: url('image/wood.jpg');
      border-image-width: 5px;
      border-image-repeat: stretch;
      border-image-slice: 5; */
      border: 5px solid #674636;
      padding: 30px;
      width: 200px;
      .subtitles{
        font-size: 2rem;
        color: #674636;
      }
      #music-box{
        display: block;
        position: relative;
        width: 32px;
        height: 32px;
        #setting-music{
            position: absolute;
            opacity: 0;
            &:checked ~ #custom-checkbox::after{
                display: flex;
            }
        }
        #custom-checkbox{
            display: block;
            position: absolute;
            left: 0;
            top: calc(50% - 16px);
            height: 32px;
            width: 32px;
            background-color: #f7eed3;
            border: 3px solid #674636;
            &::after{
                content: "✔";
                position: absolute;
                display: none;
               justify-content: center;
               align-items: center;
                height: 32px;
                width: 32px;
                left: -3px;
                top: -3px;
                color: #fff8e8;
                font-size: 1.5rem;
                background-color: #674636;
            }
        }
    }
    .custom-range{
      appearance: none;
      width: 100%;
      margin-block: 30px;
      overflow: visible;
    }
    #left-game-button{
        font-size: 1.5rem;
        border: none;
        background-color: #674636;
        color: #fff8e8;
        padding-inline: 10px;
        transition: $transitionTime;
        &:hover {
          filter: brightness(1.5);
        }
      }
    }
  }
  #close-game-dialog {
    position: fixed;
    left: calc(50% - 125px);
    top: calc(50% - 75px);
    transform: translateY(100px);
    opacity: 0;
    background-color: #f7eed3;
    width: 250px;
    height: 150px;
    border: 3px solid #674636;
    transition: $transitionTime;
    #close-dialog-button {
      position: absolute;
      right: 15px;
      top: 5px;
      border: none;
      background: none;
      color: #674636;
      font-size: 1.3rem;
      transition: $transitionTime;
      &:hover {
        filter: brightness(1.5);
      }
    }
    #message {
      color: #674636;
      font-size: 2rem;
      text-align: center;
    }
    #buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-block-start: 10px;
      #confirm,
      #cancel {
        font-size: 1.5rem;
        border: none;
        background-color: #674636;
        color: #fff8e8;
        padding-inline: 10px;
        transition: $transitionTime;
        &:hover {
          filter: brightness(1.5);
        }
      }
    }
    &.open {
      transform: none;
      opacity: 1;
    }
  }






@media screen  and (max-width:576px) {
    #entry{
        #title{
            font-size: 6rem;
        }
        #get-in{
            font-size: 3rem;
        }
        #copyright{
            font-size: 1rem;
        }
    }
}
@media screen and (min-width:577px) and (max-width:767px) {
    #entry{
        #title{
            font-size: 8rem;
        }
        #get-in{
            font-size: 4rem;
        }
        #copyright{
            font-size: 2rem;
        }
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    #entry{
        #title{
            font-size: 8rem;
        }
        #copyright{
            font-size: 2rem;
        }
    }
}
@media screen and (orientation:landscape) and (min-width:400px) and (max-height:576px){
    #entry{
        padding-block: 10px;
        justify-content: space-between;
        #title{
            font-size: 6rem;
            &.in{
                transform: none;
            }
        }
        #get-in{
            font-size: 3rem;
        }
        #copyright{
            font-size: 1rem;
        }
    }
}