@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
overflow: hidden;
font-family: "DynaPuff", serif;
}

$color1:#7BD3EA;
$color2:#A1EEBD;
$color3:#F6F7C4;
$color4:#F6D6D6;